<form action="/restablecer-password" method="POST">
  <input type="hidden" name="token" value="<%= token %>" />
  <label for="password">Nueva Contraseña:</label>
  <input type="password" name="password" required />
  <button type="submit">Cambiar Contraseña</button>
</form>
